[supervisord]
nodaemon=true
logfile=/dev/stdout
logfile_maxbytes=0

[program:nuxt]
command=node /app/.output/server/index.mjs
directory=/app
autostart=true
autorestart=true
environment=NODE_ENV="${NODE_ENV}",API_BASE_URL="${API_BASE_URL}",UMAMI_URL="${UMAMI_URL}"

[program:nginx]
command=nginx -g 'daemon off;'
autostart=true
autorestart=true
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
